<section class="footer">
    <div >
        <div class="name">
            <p>João <span>Henrique</span></p>
            <p>Desenvolvedor Full-Stack
            </p>
        </div>
        <div class="address">
            <p>Feira de Santana - BA</p>
        </div>
      
    </div>
    <div class="navegacao">
      <span>Navegação</span>
      <a href="#">Inicio</a>
      <a href="#">Projetos</a>
      <a href="#">Formação</a>
    </div>
    <div class="linksU">
      <a href=""><img src="../../../assets/images/icons/social.png" alt=""></a>
      <a href=""><img src="../../../assets/images/icons/github.png" alt=""></a>
      <a href=""><img src="../../../assets/images/icons/instagram.png" alt=""></a>
      <a href=""><img src="../../../assets/images/icons/gmail.png" alt=""></a>
    </div>
</section>