.introductionMe{
    display: flex;
    flex-direction: row;
    padding: 1.2em 17em;
    height: 93vh;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.imgContent img {
    width: 500px;
    height: 500px;
}

.s-midias{

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
   
}

.s-midias h1{
    font-size: 5em;
    
}

.s-midias span{
    color: rgb(170, 14, 14);
}

.s-midias p{
    font-size: 1.9em;
}


.bTecs img{
    margin: 8px;
    width: 30px;
    height: 30px;
}

.tecImages{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    margin-top: 10px;
}

.tecnologies{
    background-color: black;
    border-radius: 10px;
    padding: 0px 30;
    
}

.aboutMe{
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #171717;
}

.aboutMe p{
    font-size: 1.4em;
    color: rgb(170, 14, 14);
    padding: 1em 0em .2em 0em;
}
.aboutMe h1{
    font-size: 2em;
    color: white;
}

.meInfos{
    display: flex;
    flex: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 6em;
    padding: 0em 18em;
}


@keyframes waves {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px); /* Ajuste a altura das ondas conforme necessário */
    }
    100% {
        transform: translateY(0);
    }
}

.meInfos .imageCoding img{
    width: 450px;
    height: 450px;
    animation: waves 2s ease-in-out infinite;
}


.myProjs{
    height: 100vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
}

.myProjs .titleSection{
    padding-top: 2em;
}

.titleSection h1 {
    font-size: 2em;
}


.cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5em;
    padding: 0em 18em;
    flex-wrap: wrap;
}

.contatos{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 7em;
}


.contatInfos{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.contatInfos svg{
    background-color: rgb(170, 14, 14);
    padding: 12px;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-right: 8px;
}

.contatInfos .textCont{
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
}

.textCont p{
    font-size: 1.2em;
    margin-bottom: .1em;
    font-weight: bold;
}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    padding: 2em 5em;
    background: rgb(220, 220, 220);
}

.footer .navegacao{
    display: flex;
    flex-direction: column;
}

.footer .navegacao a{
    text-decoration: none;
    color: #171717;
    margin-bottom: 2px;
}

.footer .linksU{
    display: flex;
    flex-direction: row;
    align-items: end;
}
