<app-navbar></app-navbar>
<section class="introductionMe">
  <div class="imgContent">
    <img
      src="../assets/images/WhatsApp Image 2024-03-29 at 23.31.16.jpeg"
      alt=""
    />
  </div>
  <div class="s-midias">
    <div class="infos">
      <h1>João <span>Henrique</span></h1>
      <p>Desenvolvedor Full-Stack</p>
    </div>

    <div class="bTecs">
      <div class="tecImages">
        <div class="tecnologies">
          <img
            src="https://github.com/devicons/devicon/raw/master/icons/angularjs/angularjs-original.svg"
            alt="Angular"
          />
          <img
            src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original.svg"
            alt="React.js"
          />
          <img
            src="https://github.com/devicons/devicon/raw/master/icons/nodejs/nodejs-original.svg"
            alt="Node.js"
          />
          <img
            src="https://github.com/devicons/devicon/raw/master/icons/mongodb/mongodb-original.svg"
            alt="MongoDB"
          />
          <img
            src="https://github.com/devicons/devicon/raw/master/icons/mysql/mysql-original.svg"
            alt="MySQL"
          />
        </div>
      </div>
    </div>
  </div>
</section>
<section class="aboutMe">
    
</section>
