.introductionMe {
  display: flex;
  flex-direction: row;
  padding: 1.2em 17em;
  height: 93vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.imgContent img {
  width: 500px;
  height: 500px;
}

.s-midias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.s-midias h1 {
  font-size: 5em;
}

.s-midias span {
  color: rgb(170, 14, 14);
}

.s-midias p {
  font-size: 1.9em;
}

.bTecs img {
  margin: 8px;
  width: 30px;
  height: 30px;
}

.tecImages {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  margin-top: 10px;
}

.tecnologies {
  background-color: black;
  border-radius: 10px;
  padding: 0px 30;
}

.aboutMe {
  height: 110vh;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #171717;
}

.aboutMe .meApresentacao p {
  font-size: 1.4em;
  color: rgb(170, 14, 14);
  padding: 3em 0em 0.2em 0em;
}
.aboutMe h1 {
  font-size: 2em;
  color: white;
}

.meInfos {
  display: flex;
  flex: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2em;
  padding: 0em 18em;
}

@keyframes waves {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(
      -10px
    ); /* Ajuste a altura das ondas conforme necessário */
  }
  100% {
    transform: translateY(0);
  }
}

.meInfos .imageCoding img {
  width: 450px;
  height: 450px;
  animation: waves 2s ease-in-out infinite;
}

.formacao {
  display: flex;
  flex-direction: column;
}

.formaInfos {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.infosF {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2em;
}
.infosF {
  color: #ffffff;
}
.infosF span {
  color: #ffffff;
}
.formaInfos svg {
  background-color: rgb(170, 14, 14);
  padding: 12px;
  border: 1px solid transparent;
  border-radius: 50px;
  margin-right: 8px;
}

.formaInfos .textCont {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
}

.textCont p {
  font-size: 1.2em;
  margin-bottom: 0.1em;
  font-weight: bold;
}

.myProjs {
  height: 100%;
  width: 100%;
  align-items: center;
  text-align: center;
  background-color: #ffffff;
}

.myProjs .titleSection {
  padding-top: 2em;
}

.titleSection h1 {
  font-size: 2em;
}

.cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 5em;
  padding: 0em 12em;
  flex-wrap: wrap;
}


@media screen and (max-width: 768px){
  .introductionMe {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  
  .imgContent img {
    width: 300px;
    height: 300px;
  }

  .s-midias {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-bottom: 10em;
  }
  
  .s-midias h1 {
    font-size: 3em;
  }
  
  .s-midias p {
    font-size: 1em;
  }
  
  .bTecs img {
    margin: 8px;
    width: 20px;
    height: 20px;
  }


  .aboutMe {
    height: 90vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #171717;
  }
  
  .aboutMe .meApresentacao p {
    font-size: 1.4em;
    color: rgb(170, 14, 14);
    padding: 2em 0em 0.2em 0em;
  }
  .aboutMe h1 {
    font-size: 1.4em;
    color: white;
    margin-bottom: 15px;
  }
  
  .meInfos {
    padding: 0;
    margin: 0;
  }
  
  .cardprofile {
    display: flex;
    justify-content: center;
    align-items: center; /* Adicionando esta linha para centralizar verticalmente */
  }
  
  .imageCoding{
    display: none;
  }

  .meInfos .imageCoding img {
    display: none;
  }
  

  .formacao {
    display: flex;
    flex-direction: column;
  }
  
  .formaInfos {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .infosF {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2em;
  }
  .infosF {
    color: #ffffff;
  }
  .infosF span {
    color: #ffffff;
  }
  .formaInfos svg {
    background-color: rgb(170, 14, 14);
    padding: 1px;
    width: 15px;
    height: 15px;
    border: 1px solid transparent;
    border-radius: 50px;
    margin-right: 2px;
  }
  
  .formaInfos .textCont {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
  }
  
  .textCont p {
    font-size: 0.54em;
    margin-bottom: 0.2em;
  }
  
  .textCont span {
    font-size: .5em;
  }
  .myProjs {
    height: 100%;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
  }
  
  .myProjs .titleSection {
    padding-top: 2em;
  }
  
  .titleSection h1 {
    font-size: 2em;
  }
  
  .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5em;
    padding: 0;
    flex-wrap: wrap;
  }

}


@media screen and (max-width: 400px){


  .aboutMe {
    height: 120vh;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #171717;
  }
  .textCont p {
  font-size: 0.44em;
  margin-bottom: 0.1em;
  font-weight: bold;
}
  
}