<article class="profile">
  <div class="profile__image">
    <img
      src="assets/images/João.png"
      [alt]="lang.t.profileAlt"
      loading="lazy"
    />
  </div>
  <div class="profile__content">
    <p class="kicker">{{ lang.t.profileKicker }}</p>
    <h3>
      {{ lang.t.profileTitle }} <em>{{ lang.t.profileEmphasis }}</em>
    </h3>
    <p>{{ lang.t.profileP1 }}</p>
    <p>{{ lang.t.profileP2 }}</p>
    <div class="profile__links">
      <a
        href="https://github.com/JoaoHneri"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub ↗</a
      ><a
        href="https://www.linkedin.com/in/joão-henrique-neri/"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn ↗</a
      ><a
        [href]="lang.resumeUrl"
        download
        >{{ lang.t.resume }} ↓</a
      >
    </div>
  </div>
</article>
