/* You can add global styles to this file, and also import other style files */
*, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif; /* Adicionei 'sans-serif' como fallback caso a fonte Poppins não esteja disponível */
}

